In [207]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import folium

## 데이터 로드 및 전처리

In [213]:
# 행복도 csv load
happy_df = pd.read_csv("happiness.csv")
happy_df.head()

,구분별(1),구분별(2),2022,2022.1,2022.2,2022.3,2022.4,2022.5
0,구분별(1),구분별(2),행복지수 종합,항목별 행복지수,항목별 행복지수,항목별 행복지수,항목별 행복지수,항목별 행복지수
1,구분별(1),구분별(2),소계,자신의 건강상태,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활
2,서울시,소계,6.7184596,7.2067965,6.1161352,6.7823744,6.8869873,6.6000048
3,성별,남성,6.7476923,7.2978792,6.1248071,6.7976944,6.8956674,6.6224135
4,성별,여성,6.6913339,7.1222786,6.1080883,6.7681586,6.8789328,6.5792112

In [214]:
# 공원율 csv load
park_df = pd.read_csv("park.csv")
park_df.head()

,자치구별(1),자치구별(2),2022,2022.1,2022.2,2022.3,2022.4,2022.5,2022.6
0,자치구별(1),자치구별(2),행정구역면적,공원면적,공원면적,자연공원(국립)면적,도시자연공원구역면적,도시계획시설(공원) 및 기타공원,도시계획시설(공원) 및 기타공원
1,자치구별(1),자치구별(2),소계,소계,공원율 (%),소계,소계,조성면적,미조성면적
2,합계,소계,605208149,173024061,28.59,37517000,69221413,63708693,2576954
3,합계,종로구,23913162,11434590,47.82,5030000,3315969,3021205,67416
4,합계,중구,9960287,3206189,32.19,-,1789846,1389982,26362

In [215]:
# 1인당 공원면적 csv load
park_per_df = pd.read_csv("park_per.csv")
park_per_df.head()

,자치구별(1),자치구별(2),2022,2022.1,2022.2,2022.3,2022.4,2022.5
0,자치구별(1),자치구별(2),공원,공원,도시공원,도시공원,도보생활권공원,도보생활권공원
1,자치구별(1),자치구별(2),면적 (천㎡),1인당 공원면적 (㎡),면적 (천㎡),1인당 공원면적 (㎡),면적 (천㎡),1인당 공원면적 (㎡)
2,합계,소계,173024.06,17.90,119335.16,12.34,55225.65,5.71
3,합계,종로구,11434.59,75.12,6236.64,40.97,3021.20,19.85
4,합계,중구,3206.19,24.51,3118.86,23.85,1389.98,10.63

In [216]:
# 행복도 df 전처리
happy_df.columns = happy_df.iloc[1]
happy_df.drop([0, 1], axis=0, inplace=True)
happy_df.reset_index(drop=True, inplace=True)
happy_df.head()

1,구분별(1),구분별(2),소계,자신의 건강상태,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활
0,서울시,소계,6.7184596,7.2067965,6.1161352,6.7823744,6.8869873,6.6000048
1,성별,남성,6.7476923,7.2978792,6.1248071,6.7976944,6.8956674,6.6224135
2,성별,여성,6.6913339,7.1222786,6.1080883,6.7681586,6.8789328,6.5792112
3,연령별,10대,6.9124685,7.6750149,5.783973,7.1061859,7.1429177,6.8542511
4,연령별,20대,6.9807589,7.7308668,6.0822969,7.1077906,7.0724683,6.9103721

In [217]:
# 공원율 df 전처리
merged_row = park_df.iloc[0, 2:] + " " + park_df.iloc[1, 2:]
park_df.iloc[1, 2:] = merged_row
park_df.columns = park_df.iloc[1]
park_df.drop([0, 1], axis=0, inplace=True)
park_df = park_df.iloc[1:-1, 1:]
park_df.reset_index(drop=True, inplace=True)

In [218]:
# 1인당 공원면적 df 전처리
merged_row = park_per_df.iloc[0, 2:] + " " + park_per_df.iloc[1, 2:]
park_per_df.iloc[1, 2:] = merged_row
park_per_df.columns = park_per_df.iloc[1]
park_per_df.drop([0, 1], axis=0, inplace=True)
park_per_df = park_per_df.iloc[1:-1, 1:]
park_per_df.reset_index(drop=True, inplace=True)

In [219]:
happy_df.head()

1,구분별(1),구분별(2),소계,자신의 건강상태,자신의 재정상태,주위 친지 친구와의 관계,가정생활,사회생활
0,서울시,소계,6.7184596,7.2067965,6.1161352,6.7823744,6.8869873,6.6000048
1,성별,남성,6.7476923,7.2978792,6.1248071,6.7976944,6.8956674,6.6224135
2,성별,여성,6.6913339,7.1222786,6.1080883,6.7681586,6.8789328,6.5792112
3,연령별,10대,6.9124685,7.6750149,5.783973,7.1061859,7.1429177,6.8542511
4,연령별,20대,6.9807589,7.7308668,6.0822969,7.1077906,7.0724683,6.9103721

In [220]:
park_df.head()

1,자치구별(2),행정구역면적 소계,공원면적 소계,공원면적 공원율 (%),자연공원(국립)면적 소계,도시자연공원구역면적 소계,도시계획시설(공원) 및 기타공원 조성면적,도시계획시설(공원) 및 기타공원 미조성면적
0,종로구,23913162,11434590,47.82,5030000,3315969,3021205,67416
1,중구,9960287,3206189,32.19,-,1789846,1389982,26362
2,용산구,21867610,1773967,8.11,-,54875,1611081,108011
3,성동구,16820272,3083766,18.33,-,72648,2905866,105253
4,광진구,17062837,3459842,20.28,-,2097470,1351388,10984

In [221]:
park_per_df.head()

1,자치구별(2),공원 면적 (천㎡),공원 1인당 공원면적 (㎡),도시공원 면적 (천㎡),도시공원 1인당 공원면적 (㎡),도보생활권공원 면적 (천㎡),도보생활권공원 1인당 공원면적 (㎡)
0,종로구,11434.59,75.12,6236.64,40.97,3021.20,19.85
1,중구,3206.19,24.51,3118.86,23.85,1389.98,10.63
2,용산구,1773.97,7.60,757.52,3.25,1611.08,6.91
3,성동구,3083.77,10.70,1230.96,4.27,2905.87,10.08
4,광진구,3459.84,9.85,2993.93,8.52,1351.39,3.85

In [222]:
happy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   구분별(1)         55 non-null     object
 1   구분별(2)         55 non-null     object
 2   소계             55 non-null     object
 3   자신의 건강상태       55 non-null     object
 4   자신의 재정상태       55 non-null     object
 5   주위 친지 친구와의 관계  55 non-null     object
 6   가정생활           55 non-null     object
 7   사회생활           55 non-null     object
dtypes: object(8)
memory usage: 3.6+ KB

In [223]:
# 컬럼 타입 변경
happy_df = happy_df.astype(
    {
        "소계": "float",
        "자신의 건강상태": "float",
        "자신의 재정상태": "float",
        "주위 친지 친구와의 관계": "float",
        "가정생활": "float",
        "사회생활": "float",
    }
)

In [224]:
happy_df.dtypes

1
구분별(1)            object
구분별(2)            object
소계               float64
자신의 건강상태         float64
자신의 재정상태         float64
주위 친지 친구와의 관계    float64
가정생활             float64
사회생활             float64
dtype: object

In [225]:
# 소분류 개수 확인
happy_df.groupby('구분별(1)')['구분별(2)'].nunique()

구분별(1)
서울시       1
성별        2
소득별       5
연령별       6
지역대분류     5
지역소분류    25
직업분류      4
학력별       4
혼인상태별     3
Name: 구분별(2), dtype: int64

In [226]:
park_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   자치구별(2)                  25 non-null     object
 1   행정구역면적 소계                25 non-null     object
 2   공원면적 소계                  25 non-null     object
 3   공원면적 공원율 (%)             25 non-null     object
 4   자연공원(국립)면적 소계            25 non-null     object
 5   도시자연공원구역면적 소계            25 non-null     object
 6   도시계획시설(공원) 및 기타공원 조성면적   25 non-null     object
 7   도시계획시설(공원) 및 기타공원 미조성면적  25 non-null     object
dtypes: object(8)
memory usage: 1.7+ KB

In [227]:
park_df = park_df.replace("-", "0")

In [228]:
park_df = park_df.astype(
    {
        "행정구역면적 소계": "float",
        "공원면적 소계": "float",
        "공원면적 공원율 (%)": "float",
        "자연공원(국립)면적 소계": "float",
        "도시자연공원구역면적 소계": "float",
        "도시계획시설(공원) 및 기타공원 조성면적": "float",
        "도시계획시설(공원) 및 기타공원 미조성면적": "float"
    }
)

In [229]:
park_df.dtypes

1
자치구별(2)                     object
행정구역면적 소계                  float64
공원면적 소계                    float64
공원면적 공원율 (%)               float64
자연공원(국립)면적 소계              float64
도시자연공원구역면적 소계              float64
도시계획시설(공원) 및 기타공원 조성면적     float64
도시계획시설(공원) 및 기타공원 미조성면적    float64
dtype: object

In [230]:
park_per_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   자치구별(2)               25 non-null     object
 1   공원 면적 (천㎡)            25 non-null     object
 2   공원 1인당 공원면적 (㎡)       25 non-null     object
 3   도시공원 면적 (천㎡)          25 non-null     object
 4   도시공원 1인당 공원면적 (㎡)     25 non-null     object
 5   도보생활권공원 면적 (천㎡)       25 non-null     object
 6   도보생활권공원 1인당 공원면적 (㎡)  25 non-null     object
dtypes: object(7)
memory usage: 1.5+ KB

In [231]:
park_per_df = park_per_df.replace("-", "0")

In [232]:
park_per_df = park_per_df.astype(
    {
        "공원 면적 (천㎡)": "float",
        "공원 1인당 공원면적 (㎡)": "float",
        "도시공원 면적 (천㎡)": "float",
        "도시공원 1인당 공원면적 (㎡)": "float",
        "도보생활권공원 면적 (천㎡)": "float",
        "도보생활권공원 1인당 공원면적 (㎡)": "float"
    }
)

In [233]:
park_per_df.dtypes

1
자치구별(2)                  object
공원 면적 (천㎡)              float64
공원 1인당 공원면적 (㎡)         float64
도시공원 면적 (천㎡)            float64
도시공원 1인당 공원면적 (㎡)       float64
도보생활권공원 면적 (천㎡)         float64
도보생활권공원 1인당 공원면적 (㎡)    float64
dtype: object

## 행복도 데이터 시각화

In [234]:
# 한글 폰트
plt.rcParams["axes.unicode_minus"] = False
plt.rcParams["font.family"] = "AppleGothic"

In [235]:
# 대분류별 데이터 프레임 생성
gender_df = happy_df[happy_df["구분별(1)"] == "성별"]
age_df = happy_df[happy_df["구분별(1)"] == "연령별"]
edu_df = happy_df[happy_df["구분별(1)"] == "학력별"]
income_df = happy_df[happy_df["구분별(1)"] == "소득별"]
marital_df = happy_df[happy_df["구분별(1)"] == "혼인상태별"]
region_df = happy_df[happy_df["구분별(1)"] == "지역대분류"]
regionsub_df = happy_df[happy_df["구분별(1)"] == "지역소분류"]
job_df = happy_df[happy_df["구분별(1)"] == "직업분류"]

happy_df_list = [
    gender_df,
    age_df,
    edu_df,
    income_df,
    marital_df,
    region_df,
    regionsub_df,
    job_df,
]

In [236]:
# barplot 그리는 함수
def barplot_visualization(df) -> None:
    fig, ax = plt.subplots(figsize=(12, 4))
    df_melted = df.melt(
        id_vars=["구분별(1)", "구분별(2)"], var_name="Factors", value_name="Happiness"
    )
    sns.barplot(
        data=df_melted, x="Factors", y="Happiness", hue="구분별(2)", palette="coolwarm"
    )
    plt.xlabel("Factors")
    plt.ylabel("Happiness")
    plt.xticks(fontsize=8)
    plt.legend(bbox_to_anchor=(1, 0.5), fontsize=8)
    for p in ax.patches:
        ax.text(
            p.get_x() + p.get_width() / 2.0,
            p.get_height(),
            "{:.2f}".format(p.get_height()),
            fontsize=7,
            color="black",
            ha="center",
            va="bottom",
        )
    plt.show()

In [ ]:
# 대분류별 시각화
for df in happy_df_list:
    barplot_visualization(df)

In [ ]:
# 지역별 상세
fig, axes = plt.subplots(5, figsize=(12, 20))

# 소계 열을 기준으로 데이터프레임 정렬
regionsub_df_sorted = regionsub_df.sort_values(by="소계", ascending=False)

for i in range(5):  
    start_index = i * 5  # 각 서브플롯의 시작 인덱스
    end_index = (i + 1) * 5  # 각 서브플롯의 끝 인덱스
    sub_df = regionsub_df_sorted[start_index:end_index]
    sub_df_melted = sub_df.melt(
        id_vars=["구분별(1)", "구분별(2)"], var_name="Factors", value_name="Happiness"
    )  

    sns.barplot(
        data=sub_df_melted, x="Factors", y="Happiness", hue="구분별(2)", palette="coolwarm", ax=axes[i]
    ) 

    axes[i].set_xlabel("Factors")
    axes[i].set_ylabel("Happiness")
    axes[i].tick_params(axis='x', labelsize=8)
    axes[i].legend(bbox_to_anchor=(1, 0.5), fontsize=8)

    for p in axes[i].patches:
        axes[i].text(
            p.get_x() + p.get_width() / 2.0,
            p.get_height(),
            "{:.2f}".format(p.get_height()),
            fontsize=7,
            color="black",
            ha="center",
            va="bottom",
        )

plt.tight_layout()
plt.show()

In [28]:
# 지역별 > 요인별 상세
def regionsub_detail(regionsub_df, factor) -> None:
    fig, ax = plt.subplots(figsize=(12, 4))

    # 소계 열을 기준으로 데이터프레임 정렬
    regionsub_df_sorted = regionsub_df.sort_values(by=f"{factor}", ascending=False)

    df_melted = regionsub_df_sorted.melt(
        id_vars=["구분별(1)", "구분별(2)"], var_name="Factors", value_name="Happiness"
    )

    # "Factors" 열이 "소계"인 행만 필터링
    df_melted_subtotal = df_melted[df_melted["Factors"] == f"{factor}"]

    sns.barplot(
        data=df_melted_subtotal, x="Factors", y="Happiness", hue="구분별(2)", palette="coolwarm"
    )
    plt.xlabel("Factors")
    plt.ylabel("Happiness")
    plt.xticks(fontsize=8)
    plt.legend(bbox_to_anchor=(1.05, 1), loc='upper left', fontsize=8)
    for p in ax.patches:
        ax.text(
            p.get_x() + p.get_width() / 2.0,
            p.get_height(),
            "{:.2f}".format(p.get_height()),
            fontsize=7,
            color="black",
            ha="center",
            va="bottom",
        )
    plt.show()

In [ ]:
factors = ["소계", "자신의 건강상태", "자신의 재정상태", "주위 친지 친구와의 관계", "가정생활", "사회생활"]

for factor in factors:
    regionsub_detail(regionsub_df, factor)

## 공원 데이터 시각화

In [237]:
geo_data = {
        '지역': ['종로구', '중구', '용산구', '성동구', '광진구', '동대문구', '중랑구', '성북구', '강북구', '도봉구',
                '노원구', '은평구', '서대문구', '마포구', '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구',
                '관악구', '서초구', '강남구', '송파구', '강동구'],
        '위도': [37.5730, 37.5647, 37.5314, 37.5635, 37.5420, 37.5744, 37.5975, 37.5891, 
                37.6418, 37.6688, 37.6552, 37.6026, 37.5651, 37.5549, 37.5171, 37.5510,
                37.4945, 37.4594, 37.5192, 37.5121, 37.4784, 37.4837, 37.4834, 37.4954, 37.5045],
        '경도': [126.9794, 126.9895, 126.9646, 127.0365, 127.0838, 127.0400, 127.0928, 127.0182,
                127.0146, 127.0458, 127.0778, 126.9294, 126.9385, 126.9058, 126.8663, 126.8495,
                126.8860, 126.8970, 126.8979, 126.9165, 126.9828, 126.9528, 127.0324, 127.1098, 127.0982]
        }

geo_df = pd.DataFrame(geo_data)

In [ ]:
# 서울 중심에 지도 생성
seoul_map = folium.Map(location=[37.5665, 126.9780], zoom_start=11)

# 마커 생성
for idx, row in geo_df.iterrows():
    folium.CircleMarker(
        location=[row["위도"], row["경도"]],
        radius=park_df.loc[idx]["공원면적 공원율 (%)"],
        color="green",
        fill_color="green",
        fill_opacity=0.3,
        popup=f"{row['지역']} : {park_df.loc[idx, '공원면적 공원율 (%)']}%",
    ).add_to(seoul_map)

    folium.CircleMarker(
        location=[row["위도"], row["경도"]],
        radius=park_per_df.loc[idx]["공원 1인당 공원면적 (㎡)"],
        color="blue",
        fill_color="blue",
        fill_opacity=0.3,
        popup=f"{row['지역']} : {park_per_df.loc[idx, '공원 1인당 공원면적 (㎡)']}%",
    ).add_to(seoul_map)

# 지도 표시
seoul_map